.icon {
    display: block;
    width: 18px;
    height: 18px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
@media (min-width: 1024px) {
    .icon {
        width: 24px;
        height: 24px;
   }
}
.page {
    font-family: 'Roboto', 'sans-serif';
}
.page__body {
    margin: 0;
}
.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 20px;
    
}
@media (min-width: 1024px) {
    .container {
        padding: 0 40px;
   }
}
.header {
    background-size: cover;
    background-position: center;
    background-image: url(../Img/header.jpg);
}
.header__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    height: 100vh;
    padding: 24px 0 80px;
}
.header__title {
    font-size: 48px;
    line-height: 40px;
    font-weight: bold;
    color: #fff;
    letter-spacing: -1px;
}
@media (min-width: 1024px) {
    .header__title {
        font-size: 80px;
        line-height: 80px;
        letter-spacing: -1.5px;
   }
}
.header__title::before {
    content: '';
    width: 40px;
    display: block;
    height: 2px;
    background-color: #fff;
    margin-bottom: 24px;
}
.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__menu-opener {
    background-image: url(../Img/menu.svg);
}
.header__menu-opener:hover {
    background-image: url(../Img/menu_hover.svg);
}
.header__call {
    background-image: url(../Img/Phones.svg);
    text-decoration: none;
}
@media (min-width: 1024px) {
    .header__call::before {
        content: "+1 234 555-55-555";
        opacity: 0;
        pointer-events: none;
        top: 50%;
        transform: translate(-100%, -50%);
        position: relative;
        color: #fff;
        font-size: 12px;
        font-weight: bold;
        line-height: 16px;
        letter-spacing: 2px;
        text-transform: uppercase;
        display: block;
        padding-right: 20px;
        width: max-content;
   }
    .header__call:hover::before {
        opacity: 1;
        pointer-events: all;
   }
}
.logo__imege {
    width: 48px;
}
@media (min-width: 1024px) {
    .logo__imege {
        height: 80px;
   }
}
