.icon {
    display: block;
    width: 100%;
    padding-bottom: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.icon--menu {
    background-image: url(../Img/menu.svg);
}
.icon--menu:hover {
    background-image: url(../Img/Vector_hover.svg);
}
.icon--phone {
    background-image: url(../Img/Phones.svg);
}
.icon--cross {
    background-image: url(../Img/cross.svg);
}
.page {
    font-family: 'Roboto', 'sans-serif';
    scroll-behavior: smooth;
}
.page__body {
    margin: 0;
}
.page__menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translateX(-100%);
    transition: transform 0.3s;
}
.page__menu:target {
    transform: translatex(0);
}
.page__section {
    margin-bottom: 64px;
}
.page__section-title {
    font-size: 36px;
    font-weight: bold;
    line-height: 36px;
    text-align: center;
    letter-spacing: -1.5px;
    color: #000;
}
.page__section-title::after {
    content: "";
    display: block;
    height: 16px;
    width: 23px;
    margin: 4px auto 0;
    background-image: url(../Img/Icon-Corona-virus.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 20px;
}
@media (min-width: 1024px) {
    .container {
        padding: 0 40px;
   }
}
.header {
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    background-image: url(../Img/header.jpg);
}
.header__content {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 24px 0 80px;
}
.header__title {
    font-size: 48px;
    line-height: 40px;
    font-weight: bold;
    color: #fff;
    letter-spacing: -1px;
}
@media (min-width: 1024px) {
    .header__title {
        font-size: 80px;
        line-height: 80px;
        letter-spacing: -1.5px;
   }
}
.header__title::before {
    content: '';
    width: 40px;
    display: block;
    height: 2px;
    background-color: #fff;
    margin-bottom: 24px;
}
.header__call {
    text-decoration: none;
}
@media (min-width: 1024px) {
    .header__call::before {
        content: "+1 234 555-55-555";
        opacity: 0;
        pointer-events: none;
        top: 50%;
        transform: translate(-100%, 50%);
        position: relative;
        color: #fff;
        font-size: 12px;
        font-weight: bold;
        line-height: 16px;
        letter-spacing: 2px;
        text-transform: uppercase;
        display: block;
        padding-right: 20px;
        width: max-content;
   }
    .header__call:hover::before {
        opacity: 1;
        pointer-events: all;
   }
}
.logo__imege {
    width: 48px;
}
@media (min-width: 1024px) {
    .logo__imege {
        height: 80px;
   }
}
.top-actions {
    --icon-width: 18px;
    display: grid;
    grid-template-columns: var(--icon-width) 1fr var(--icon-width);
    justify-items: center;
}
@media (min-width: 1024px) {
    .top-actions {
        --icon-width: 24px;
   }
}
.menu {
    background-color: #0075ff;
}
.menu__top {
    margin-bottom: 48px;
}
.menu__content {
    padding: 24px 0;
    height: 100vh;
    box-sizing: border-box;
}
.menu__list {
    list-style: none;
    text-decoration: none;
    margin: 0 0 48px;
    padding: 0;
}
.menu__item {
    margin-bottom: 24px;
}
.menu__item:last-child {
    margin-bottom: 0;
}
.menu__link {
    display: inline-block;
    padding-bottom: 8px;
    border-bottom: 1px solid transparent;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    transition: border-color 0.3s;
}
.menu__link:hover {
    border-color: #fff;
}
.menu__call {
    display: block;
    width: max-content;
    text-decoration: none;
    font-weight: bold;
    font-style: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
}
.menu__call--phone {
    margin-bottom: 16px;
}
.menu__call--action {
    padding-bottom: 8px;
    border-bottom: 1px solid #fff;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-image: url(../Img/footer-bg.jpg);
    height: 320px;
    padding-bottom: 24px;
    background-size: cover;
    background-position: center;
}
@media (min-width: 1024px) {
    .footer {
        height: 360px;
        padding-bottom: 36px;
   }
}
